.config{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.field2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.field2 input{
    border-radius: 5px;
    font-size: 15px;
    width: 250px;
}
.field label{
    text-align: center;
}
.btn-edit{
    background-color: #02f801;
    color: #000;
    border: 0;
    width: 280px;
}
.message{
    color: red;
}