

.send{
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
.feed-editor{
   margin: 5px;
   display: flex;
   flex-direction: row;
   border-radius: 7px;
   background-color: #fff;
}
.avatar2{
    margin-right: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.feed-new{
    width: 440px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 5px;
    border: 0;
}
.feed-new:focus{
    outline: 0;
    box-shadow: 0 0 0 0;
}