
           .container {
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          
            }

            .header{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .menu{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-direction: row;
                width: 50%;
            }
            .feed{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                     
            }

        
          