
           .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            background-color: #020202;
        }

            .content {
                text-align: center;
                display: inline-block;
            }
        
          