.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feed{
    margin: 5px;
    float: center;
    margin-bottom:  1.5em;
    color: white;
    border:0;
    padding:  .1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 6px;
    transition: ease-in 0.2s;
         
}
.feed-pagination a{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.feed-pagination a:hover{
    color: #fff;
}
.feed-pagination a.active{
    color: #fff;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #02f801;
    color: #fff;
    border-radius: 10px;
}
.button:hover{
    opacity: 0.9;
}
